<template>
    <v-app>
        <v-btn class="mx-2" fab dark large color="purple">Test</v-btn>
    </v-app>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
